{% extends 'base/form_page.html' %}

{% block title %}Add URLs{% endblock %}

{% block includes %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'add_url.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <form method="POST" class=" w-75 m-5 p-5 border shadow-sm" enctype="multipart/form-data">
      <h4>Add urls:</h4>
      <hr>
      <div id="form_fields" class="p-1" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
          <input id="count" name="count" value="1" type="hidden">
          {% csrf_token %}
          <div class="form-group row">
              <label for="url_1" class="col-2 col-form-label">Url 1:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="url_1" name="url_1" placeholder="Enter URL for scraping">
              </div>
          </div>
      </div>
      <div class="row mb-5">
        <div class="col-2"></div>
        <center class="col-sm-10 pr-4"><div class="btn btn-secondary btn-sm btn-block" onclick="add_field()">One more</div></center>
      </div>
        <button type="submit" class="btn w-25 btn-primary" onclick="return validate_all();">Add</button>
        <a href="{% url 'get_all_urls' %}" class="btn btn-secondary w-25">Cancel</a>
  </form>
</div>
{% endblock %}