{% extends 'base/list_page.html' %}

{% block title %}
    Admin devices
{% endblock %}

{% block page_title %}
    <div class="p-3 mt-2 mb-2">
        <h3 style="display: inline-block;">Total devices: {{ items_count }}</h3>
    </div>
{% endblock %}


{% block content_title %}
    <h3>Your devices:</h3>
    <div class="row mt-4">
        <div class="col">Device</div>
        <div class="col-sm-2">Scrapes</div>
        <div class="col-sm-2">Complains</div>
        <div class="col-sm-2">Status</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <hr>
{% endblock %}

{% block list_item %}
{% with device=item %}
    <div class="col">
        {{ device|truncatechars:60 }}
    </div>
    {% with stat=device.get_statistic %}
    {% if stat %}
    <div class="col-sm-2">
        {{ stat.scrapes_count }}
    </div>
    <div class="col-sm-2">
        {{ stat.complains_count }}
    </div>
    <div class="col-sm-2">
        {% if stat.is_blocked %}
            <span class="badge badge-danger">Blocked</span>
        {% else %}
            <span class="badge badge-success">Working</span>
        {% endif %}
    </div>
    <div class="col-sm-1">
        {% if stat.is_blocked %}
            <a href="{% url 'unblock_device' device_id=device.device_id %}">unblock</a>
        {% else %}
            <a href="{% url 'block_device' device_id=device.device_id %}">block</a>
        {% endif %}
    </div>
    {% else %}
        <div class="col">
        <span class="badge badge-danger">Device has no current owner</span>
        </div>
        <div class="col"></div>
    {% endif %}
    {% endwith %}
    <div class="col-sm-1"></div>
{% endwith %}
{% endblock %}
